# String Operations, Comparison and information

In [3]:
import numpy as np

In [4]:
name1 = "Anindita_Mitra"
name2 = "Explore_FC"

In [5]:
#Merge String function
np.char.add(name1 , name2)

array('Anindita_MitraExplore_FC', dtype='<U24')

In [6]:
#String conver to Lower Case
np.char.lower(name1)

array('anindita_mitra', dtype='<U14')

In [7]:
#String conver to upper Case
np.char.upper(name2)

array('EXPLORE_FC', dtype='<U10')

In [8]:
#Center method
np.char.center(name2, 60)

array('                         Explore_FC                         ',
      dtype='<U60')

In [9]:
#fill the extra space 
np.char.center(name2, 60, fillchar="+")

array('+++++++++++++++++++++++++Explore_FC+++++++++++++++++++++++++',
      dtype='<U60')

In [10]:
#Split
np.char.split(name2)

array(list(['Explore_FC']), dtype=object)

In [11]:
#\n will help to split it it into section from where it is inserted
np.char.splitlines("hello\nExplore")

array(list(['hello', 'Explore']), dtype=object)

In [12]:
# Join
name3 = "dmy"
name4 = "dmy"

In [13]:
np.char.join([":", "/"], [name3, name4])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [14]:
#replace 1st one is the word that will be replaced with the second strng character
np.char.replace(name1, "Anindita", "Dolo")

array('Dolo_Mitra', dtype='<U10')

In [15]:
#string information #how many times a is present in that object name1 
np.char.count(name1, "d")

array(1)

In [16]:
name1

'Anindita_Mitra'

In [17]:
#if we want to check any particular character is presnet or not
np.char.find(name1, "ta")

array(6)